<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Projeto Manguetown{% endblock %}</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'trama.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Projeto Manguetown</h1>
        <nav>
            <ul>
                <li><a href="{% url 'manguetown:home' %}">Home</a></li>
                <li><a href="{% url 'manguetown:sobre' %}">Sobre</a></li>
                <li><a href="{% url 'manguetown:contato' %}">Contato</a></li>
    
                {% if user.is_authenticated %}  
                    <li><a href="{% url 'manguetown:dashboard' %}">Dashboard</a></li>
                    <!-- Link de Logout -->
                    <li><a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a></li>
                    <form id="logout-form" method="POST" action="{% url 'manguetown:logout' %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                {% else %}
                    <li><a href="{% url 'manguetown:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Projeto Manguetown</p>
    </footer>
</body>
</html>
