{% extends 'base.html' %}

{% block title %}Cadastro - Escolha a Opção{% endblock %}

{% block content %}
<header>
    <main>
        <h1>Sistema de Cadastro</h1>
        <p>Você deseja cadastrar um colaborador ou uma empresa?</p>
    </main>
    <nav>
        <ul>
            <li><a href="{% url 'manguetown:colaborador' %}">Cadastro de Colaborador</a></li>
            <li><a href="{% url 'manguetown:empresa' %}">Cadastro de Empresa</a></li>
        </ul>
    </nav>
</header>


<footer>
    <p>&copy; 2024 Sistema de Cadastro</p>
</footer>
{% endblock %}
