{% extends 'base.html' %}

{% block title %}Cadastro Empresa Parceira{% endblock %}

{% block content %}
    <h2>Cadastro de Empresa Parceira</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="nome_responsavel">Nome do Responsável:</label>
            <input type="text" id="nome_responsavel" name="nome_responsavel" required>
        </div>
        <div>
            <label for="nome_empresa">Nome da Empresa:</label>
            <input type="text" id="nome_empresa" name="nome_empresa" required>
        </div>
        <div>
            <label for="captacao_local">Local de Captação:</label>
            <input type="text" id="captacao_local" name="captacao_local" required>
        </div>
        <div>
            <label for="disponibilidade_residuo">Disponibilidade para pegar o resíduo:</label>
            <input type="text" id="disponibilidade_residuo" name="disponibilidade_residuo" required>
        </div>
        <div>
            <label for="porte_fabrico">Porte de Fabricação:</label>
            <select id="porte_fabrico" name="porte_fabrico" required>
                <option value="pequeno">Pequeno</option>
                <option value="medio">Médio</option>
                <option value="grande">Grande</option>
            </select>
        </div>
        <div>
            <label for="tipo_residuo">Tipo de Resíduo:</label>
            <input type="text" id="tipo_residuo" name="tipo_residuo" required>
        </div>
        <div>
            <label for="condicao_residuo">Condição do Resíduo:</label>
            <textarea id="condicao_residuo" name="condicao_residuo" required></textarea>
        </div>
        <div class="form-actions"> <!-- Container para alinhar os botões -->
            <a href="{% url 'manguetown:gestao_empresas' %}" class="button cancel-button">Cancelar</a>
            <button type="submit" class="button">Cadastrar Empresa</button>
        </div>
    </form>
{% endblock %}
