{% extends 'base.html' %}

{% block title %}Edição Parceira{% endblock %}

{% block content %}
    <h2>{% if empresa %}Edição de Empresa Parceira{% else %}Cadastro de Empresa Parceira{% endif %}</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="nome_responsavel">Nome do Responsável:</label>
            <input type="text" id="nome_responsavel" name="nome_responsavel" required
                   value="{{ empresa.nome_responsavel|default:'' }}">
        </div>
        <div>
            <label for="nome_empresa">Nome da Empresa:</label>
            <input type="text" id="nome_empresa" name="nome_empresa" required
                   value="{{ empresa.nome_empresa|default:'' }}">
        </div>
        <div>
            <label for="captacao_local">Local de Captação:</label>
            <input type="text" id="captacao_local" name="captacao_local" required
                   value="{{ empresa.captacao_local|default:'' }}">
        </div>
        <div>
            <label for="disponibilidade_residuo">Disponibilidade para pegar o resíduo:</label>
            <input type="text" id="disponibilidade_residuo" name="disponibilidade_residuo" required
                   value="{{ empresa.disponibilidade_residuo|default:'' }}">
        </div>
        <div>
            <label for="porte_fabrico">Porte de Fabricação:</label>
            <select id="porte_fabrico" name="porte_fabrico" required>
                <option value="pequeno" {% if empresa.porte_fabrico == 'pequeno' %}selected{% endif %}>Pequeno</option>
                <option value="medio" {% if empresa.porte_fabrico == 'medio' %}selected{% endif %}>Médio</option>
                <option value="grande" {% if empresa.porte_fabrico == 'grande' %}selected{% endif %}>Grande</option>
            </select>
        </div>
        <div>
            <label for="tipo_residuo">Tipo de Resíduo:</label>
            <input type="text" id="tipo_residuo" name="tipo_residuo" required
                   value="{{ empresa.tipo_residuo|default:'' }}">
        </div>
        <div>
            <label for="condicao_residuo">Condição do Resíduo:</label>
            <textarea id="condicao_residuo" name="condicao_residuo" required>{{ empresa.condicao_residuo|default:'' }}</textarea>
        </div>
        <div class="form-actions"> <!-- Container para alinhar os botões -->
            <a href="{% url 'manguetown:gestao_empresas' %}" class="button cancel-button">Cancelar</a>
            <button type="submit" class="button">{% if empresa %}Salvar Alterações{% else %}Cadastrar Empresa{% endif %}</button>
        </div>
    </form>
{% endblock %}