{% extends 'base.html' %}

{% block title %}
    Gestão de Colaboradores
{% endblock %}

{% block content %}
    <h1>Colaboradores</h1>

    <div class="action-buttons">
        <a href="{% url 'manguetown:cadastrar_colaborador' %}" class="button">Cadastrar novo Colaborador</a>
        <a href="{% url 'manguetown:dashboard' %}" class="button">Voltar para Painel Administrativo</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de nascimento</th>
                <th>Lugar onde mora</th>
                <th>Renda</th>
                <th>Situações de vulnerabilidade</th>
                <th>Quantos filhos</th>
                <th>Moradores na residência</th>
                <th>Habilidades</th>
                <th>Ações</th> <!-- Nova coluna para as ações -->
            </tr>
        </thead>
        <tbody>
            {% for colaborador in colaboradores %}
            <tr>
                <td>{{ colaborador.nome }}</td>
                <td>{{ colaborador.cpf }}</td>
                <td>{{ colaborador.data_nascimento }}</td>
                <td>{{ colaborador.lugar_onde_mora }}</td>
                <td>{{ colaborador.renda }}</td>
                <td>{{ colaborador.situacoes_de_vulnerabilidade }}</td>
                <td>{{ colaborador.quantos_filhos }}</td>
                <td>{{ colaborador.quantas_pessoas_moram_com_voce }}</td>
                <td>{{ colaborador.habilidades }}</td>
                <td>
                    <!-- Formulário para excluir colaborador -->
                    <form method="post" action="{% url 'manguetown:gestao_colaboradores' %}" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="colaboradora_id" value="{{ colaborador.id }}">
                        <button type="submit" name="excluir_colaboradora" class="button danger">Excluir</button>
                    </form>

                    <!-- Link para editar colaborador -->
                    <a href="{% url 'manguetown:editar_colaborador' colaborador.id %}" class="button">Editar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">Nenhum colaborador cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
