{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{% block title %}
    Gestão de Bonecas
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="welcome-title text-center">Bonecas</h1>

        {% if messages %}
            <div class="alert alert-info">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="action-buttons mb-4 text-right">
            <a href="{% url 'manguetown:cadastrar_boneca' %}" class="btn btn-primary">Cadastrar nova Boneca</a>
            <a href="{% url 'manguetown:dashboard' %}" class="btn btn-secondary">Voltar para Painel Administrativo</a>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Nível de Dificuldade</th>
                    <th>Colaborador</th>
                    <th>Ações</th> <!-- Coluna para ações -->
                </tr>
            </thead>
            <tbody>
                {% for boneca in bonecas %}
                    <tr>
                        <td>{{ boneca.nome }}</td>
                        <td>{{ boneca.nivel_dificuldade }}</td>
                        <td>{{ boneca.colaborador.nome }}</td>
                        <td>
                            <form method="post" action="{% url 'manguetown:gestao_bonecas' %}" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="boneca_id" value="{{ boneca.id }}">
                                <button type="submit" name="excluir_boneca" class="btn btn-danger" onclick="return confirm('Você tem certeza que deseja excluir esta boneca?');">Excluir</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhuma boneca cadastrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
