{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-container">
        <h1 class="login-title">Login</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="button login-button">Entrar</button>
            </div>
        </form>
    </div>
{% endblock %}
